[Unit]
Description=Email Sync Service

[Service]
Type=oneshot
Nice=10
ExecStart=%h/bin/sync-email
LimitNOFILE=200000

[Install]
WantedBy=default.target
