[submodule ".mutt/mutt-colors-solarized"]
	branch = master
	path = .mutt/mutt-colors-solarized
	url = git://github.com/altercation/mutt-colors-solarized.git
[submodule ".bundle/dircolors-solarized"]
	branch = master
	path = .bundle/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "fonts"]
	path = .fonts
	url = https://github.com/powerline/fonts.git
