[submodule ".vim/pathogen"]
	branch = master
	path = .vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/taglist"]
	branch = master
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/a"]
	branch = master
	path = .vim/bundle/a
	url = git://github.com/fomichev/a.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	branch = master
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".mutt/mutt-colors-solarized"]
	branch = master
	path = .mutt/mutt-colors-solarized
	url = git://github.com/altercation/mutt-colors-solarized.git
[submodule ".bundle/dircolors-solarized"]
	branch = master
	path = .bundle/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/ctrlp.vim"]
	branch = master
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/cocoa.vim"]
	branch = master
	path = .vim/bundle/cocoa.vim
	url = git://github.com/fomichev/cocoa.vim.git
[submodule ".vim/bundle/vim-speeddating"]
	branch = master
	path = .vim/bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule ".config/awesome/vicious"]
	branch = master
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule ".vim/bundle/DirDiff.vim"]
	branch = master
	path = .vim/bundle/DirDiff.vim
	url = git://github.com/vim-scripts/DirDiff.vim.git
[submodule ".vim/bundle/vim-markdown-folding"]
	branch = master
	path = .vim/bundle/vim-markdown-folding
	url = git://github.com/nelstrom/vim-markdown-folding.git
[submodule ".vim/bundle/gitv"]
	branch = master
	path = .vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/vim-fugitive"]
	branch = master
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-commentary"]
	branch = master
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-rsi"]
	branch = master
	path = .vim/bundle/vim-rsi
	url = git://github.com/tpope/vim-rsi.git
[submodule ".bundle/tmuxifier"]
	branch = master
	path = .bundle/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule ".vim/bundle/vim-airline"]
	branch = master
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
