.vim/tmp/
.vim/bundle/
.vim/pack/
.vim/spell/all.add.spl

.mutt/cache

mail/.notmuch/

.w3m/history
.w3m/cookie

.wmii/history.progs
.wmii/history.actions
.wmii/history.tags

.local

ignore

.gnupg

.tmux/

bin/gkectl
bin/govc
bin/kubeadm
bin/monarch-policies

.config/nvim/bundle
.config/nvim/lazy-lock.json

.config/tinted-theming/base16_shell_theme

.config/.gsd-keyboard.settings-ported
.config/anjuta/
.config/anytype/
.config/ardour5/
.config/ardour6/
.config/ardour8/
.config/autostart/
.config/brasero/
.config/calibre/
.config/cni/
.config/compiz-1/
.config/configstore/
.config/dconf/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/easyeffects/
.config/Electron/
.config/enchant/
.config/eog/
.config/epiphany/
.config/evolution/
.config/falkTX/
.config/FreeCAD/
.config/fish/
.config/fontforge/
.config/Ganache/
.config/gcloud/
.config/geary/
.config/gedit/
.config/GIMP/
.config/glinux/
.config/gnome-builder/
.config/gnome-control-center/
.config/gnome-games/
.config/GNOME-xdg-terminals.list
.config/gnote/
.config/goa-1.0/
.config/goobuntu-backups/
.config/goobuntu-indicator/
.config/google/
.config/google-chrome/
.config/google-chrome-beta/
.config/google-googletalkplugin/
.config/gtk-2.0/
.config/gtk-3.0/
.config/guitarix/
.config/guix/
.config/helix/runtime/
.config/hexchat/
.config/ibus/
.config/inkscape/
.config/ipython/
.config/jack/
.config/Jamulus/
.config/Jedimark/
.config/kicad/
.config/libaccounts-glib/
.config/LibreCAD/
.config/libreoffice/
.config/Logseq/
.config/lsp-plugins/
.config/lutris/
.config/menus/
.config/mimeapps.list
.config/monitors-v1-backup.xml
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/nemo/
.config/obsidian/
.config/org.gnome.Dictionary/
.config/OpenSCAD/
.config/pipewire/
.config/pipewire-media-session/
.config/pmbootstrap.cfg
.config/Printrun/
.config/PrusaSlicer/
.config/Psst/
.config/pulse/
.config/qmk/
.config/QtProject.conf
.config/rclone/
.config/REAPER/
.config/Renoise/
.config/Rygel/
.config/rygel.conf
.config/SiYuan-Electron/
.config/software-center/
.config/sonic-visualiser/
.config/spotify/
.config/syllogi/
.config/systemd/user/default.target.wants/
.config/systemd/user/sockets.target.wants/
.config/telegram-send.conf
.config/Thunar/
.config/tilem2/
.config/totem/
.config/Tracktion/
.config/transmission/
.config/unity/
.config/UoFiddler/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/user-share/
.config/VESC/
.config/via-nativia/
.config/vim/
.config/vlc/
.config/wireshark/
.config/xbuild/
.config/xdg-terminals.list
.config/xfce4/
.config/yay/
.config/yabridgectl/
.config/Yubico/
.config/zoomus.conf
