[user]
	name = Stanislav Fomichev
	email = s@fomichev.me

[alias]
	a = add
	ai = add --interactive
	au = add -u :/
	b = branch
	bl = blame -w -s
	ca = commit --amend
	ci = commit -s
	co = checkout
	cp = cherry-pick
	cpa = cherry-pick --abort
	dc = diff --cached
	d = diff
	fa = fetch --all
	f = fetch
	fp = format-patch --thread
	l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lo = log --oneline
	lp = log -p
	pr = pull --rebase --autostash
	sync = pr
	ra = rebase --abort
	rc = rebase --continue
	rd = range-diff
	ri = rebase --interactive
	rpo = remote prune origin
	sm = submodule
	s = show --pretty=fuller
	st = status -sb
	mrproper = clean -xdf
	wt = worktree

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[sendemail]
	chainreplyto = false
	#smtpserver = smtp.gmail.com:587
	#smtpuser = s@fomichev.me
	smtpencryption = tls
	confirm = always

[format]
	coverletter = auto
	signOff = true

[merge]
	renamelimit = 128

[push]
	default = simple

[core]
	abbrev = 12
	pager = "less -FXS"

[diff "default"]
	xfuncname = "^[[:alpha:]$_].*[^:]$"

[pretty]
	fixes = Fixes: %h (\"%s\")

[include]
	path = ~/local/.gitconfig
