/*
!/bin
/bin/hg-clone-prepare
/bin/lq-ssh
/bin/shg
!README
!.bash_aliases
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.gitmodules
!.quiltrc
!.screenrc
!.inputrc
!/.vim
/.vim/.netrwhist
/.vim/bookmarks
/.vim/tmp
!/.vim/tmp/placeholder
!.vimrc
!/Fonts
!/.mutt
/.mutt/aliases_local
/.mutt/cache
/.mutt/pwd
!/.bundle

# some brain damaged stuff on virtual machine
/.vim/.VirtualBox/
/.vim/.hgrc
/.vim/_viminfo
/.vim/projects/
