[user]
	name = Stanislav Fomichev
	email = s@fomichev.me

[alias]
	a = add
	ai = add --interactive
	d = diff
	dc = diff --cached
	ri = rebase --interactive
	rc = rebase --continue
	st = status -sb
	ci = commit -s
	co = checkout
	b = branch
	glog = log --graph
	sm = submodule
	l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	o = !git log $(git rev-parse --abbrev-ref HEAD) --not origin/$(git rev-parse --abbrev-ref HEAD)
	i = !git log origin/$(git rev-parse --abbrev-ref HEAD) --not $(git rev-parse --abbrev-ref HEAD)
	out = log --branches --not --remotes=origin
	in = log --remotes=origin --not --branches
	fp = format-patch
	s = show
	rollback = reset HEAD^
	lp = log -p

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[sendemail]
	aliasesfile = ~/.mutt/aliases
	aliasfiletype = mutt
	chainreplyto = false
	smtpserver = smtp.gmail.com:587
	smtpuser = kernel@fomichev.me
	smtpencryption = tls
	suppresscc = self
	bcc = kernel@fomichev.me
	confirm = always

[merge]
	renamelimit = 0

[push]
	default = simple

[include]
	path = ~/local/.gitconfig
[core]
	abbrev = 12
