[user]
	name = Stanislav Fomichev
	email = s@fomichev.me

[alias]
	a = add
	au = add -u :/
	ai = add --interactive
	d = diff
	dc = diff --cached
	ri = rebase --interactive
	rc = rebase --continue
	ra = rebase --abort
	st = status -sb
	ci = commit -s
	co = checkout
	cp = cherry-pick
	b = branch
	gl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	sm = submodule
	l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lo = log --oneline
	o = !git log $(git rev-parse --abbrev-ref HEAD) --not origin/$(git rev-parse --abbrev-ref HEAD) --
	i = !git log origin/$(git rev-parse --abbrev-ref HEAD) --not $(git rev-parse --abbrev-ref HEAD) --
	out = log --branches --not --remotes=origin --
	in = log --remotes=origin --not --branches --
	fp = format-patch --thread
	s = show --pretty=fuller
	rollback = reset HEAD^
	lp = log -p
	bl = blame -w -s
	t = log --tags --simplify-by-decoration --pretty="format:%ai %d"
	f = fetch
	fa = fetch --all
	rpo = remote prune origin
	rd = range-diff

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[sendemail]
	chainreplyto = false
	smtpserver = smtp.gmail.com:587
	smtpuser = sdf@fomichev.me
	smtpencryption = tls
	confirm = always

[format]
	coverletter = auto
	signOff = true

[merge]
	renamelimit = 0

[push]
	default = simple

[include]
	path = ~/local/.gitconfig
[core]
	abbrev = 12

[diff "default"]
	xfuncname = "^[[:alpha:]$_].*[^:]$"
