# unnecessary directories
/.hg
/.mc
/.ssh
/.subversion
/.texmf-var
/tmp
/tftp
/share
/repo
/nfs
/bin

.vim/projects

#unnecessary files
mail
localhost@screenrc

.bash_history
.bash_logout
.fs
.gdbtkinit
.hgrc
.lesshst

.viminfo
*.swp
